$bg-primary: #cccccc;
$txt-primary:#aaaaaa;
$bg-secondry: #6D87A7;
$txt-secondry:white; 


$header-height:5vh;
$footer-height:3vh;

//message color
$error: #811702;
$warning: #F9E055;
$valid: #038144;
